services:
  postgres:
    image: 'pgvector/pgvector:pg16'
    environment:
      - 'POSTGRES_DB=tradeflow'
      - 'POSTGRES_PASSWORD=1'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
  redis:
    image: 'redis:latest'
    ports:
      - '6379'
